<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="whu.zq.encrypt"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PasskeyActivity"
            android:label="@string/app_passkey"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name=".SetKey"
            android:label="@string/app_set_key"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name=".SecurityCodeEdit"
            android:label="@string/edit_code" >
        </activity>
        <activity
            android:name=".FileBrowserActivity"
            android:label="@string/Browser" >
        </activity>
        <activity
            android:name=".MakeSureSelectActivity"
            android:label="@string/OK"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name=".SecretContentShow"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:label="@string/title_activity_secret_content_show" >
        </activity>
        <activity
            android:name=".CodeDetailReg"
            android:label="@string/title_activity_code_detail_reg" >
        </activity>
    </application>

</manifest>
